.highlighted-word {
  background-color: yellow;
}

:root.dark .highlighted-word {
  background-color: #46480f;
}

:root .show-while-dark-mode {
  display: none;
}

:root.dark .show-while-dark-mode {
  display: block;
}

:root.dark .hide-while-dark-mode {
  display: none;
}

:root {
  --vp-font-family-base: JetBrains Mono; /* normal text font */
  --vp-font-family-mono: JetBrains Mono; /* code font */
}